<!-- template.html -->
<!DOCTYPE html>
<html>

<body>
	Dear {{.Username}}, 
	<br/><br/>
	Thank you for visiting Straper.
	<br/><br/>
	In order to proceeed with your account password reset request, please reset your account by clicking the verification button at below.
	<br/><br/>
	<a href="http://localhost:3000/account/password/reset/{{.TokenId}}">
		<button style="color: white;background:slateblue">
			Reset	
		</button>
	</a>
	<br/><br/>
	 Best Regards,
	<br/><br/>
	<b>Straper Support Team</b>
</body>

</html>